<div id="updater" class="updater @(Align == Align.Top ? "top" : "bottom")">
    <span class="updater-text">@Text</span>
    <button role="button" type="button" class="updater-button">@ButtonText</button>
    <span class="updater-close">🗙</span>
</div>

@code {
    /// <summary>
    /// Notfification message
    /// </summary>
    [Parameter]
    public string Text { get; set; } = "The new version is ready";

    /// <summary>
    /// Action button text
    /// </summary>
    [Parameter]
    public string ButtonText { get; set; } = "Update";

    /// <summary>
    /// Type of alignment: <see cref="Align.Top"/>, <see cref="Align.Buttom"/>
    /// </summary>
    [Parameter]
    public Align Align { get; set; } = Align.Top;
}